@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #7db9b6;

  /* background-image: linear-gradient(#41525f, #1c252c); */
}

span,
h3,
h4 {
  pointer-events: none;
}

a:after {
  content: "";
  border: 4px solid transparent;
  border-top: 4px solid white;
  margin-left: 2px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: bottom;
}
ul.menu-cidades {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  color: #f5e9cf;
  /* background-image: linear-gradient(#4d455d, #433c50); */
  background-color: #7db9b6;
  text-align: left;
  min-width: 350px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
li.botao-menu-cidades {
  list-style: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: dashed 1px #5d8a89;
}
li.botao-menu-cidades:last-child {
  border-bottom: none;
}

li.botao-menu-cidades:after {
  content: "";
}
li.botao-menu-cidades:hover {
  background-color: #4d455d;
}
li.botao-menu-cidades > span {
  padding-left: 1.5rem;
}

li.botao-menu-cidades:active {
  background-color: #4d455d;
}

ul.menu-praias {
  list-style-type: none;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: #4d455d;
  text-align: left;
  min-width: 350px;
  display: block;
}

li.botao-menu-praias {
  list-style: none;
  cursor: pointer;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
li.botao-menu-praias > span {
  padding-left: 2rem;
}

li.botao-menu-praias:hover {
  background-color: #e96479;
}

.praia-holder {
  background-color: #e96479;
  padding-top: 1.2rem;
  width: 80vw;
  max-width: 350px;
  height: auto;
  display: grid;
}

.condicoes {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.praia-holder h3 {
  font-weight: 700;
  font-size: 1.1rem;
  text-align: left;
  color: #5e222b;
  margin-bottom: 0.1rem;
}
.praia-holder h4 {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: left;
  width: 92%;
  color: #5e222b;
}

.img-icon-praia {
  background-blend-mode: color-dodge;

  margin-right: 1rem;
}

img.pico-img {
  max-width: 350px;
  /* margin-top: 1rem; */
}

.praia-holder-div {
  margin-left: 1.5rem;
}
.praias-pics {
  width: 100%;
  /* border: solid 2px greenyellow; */
}
